streamlit
selenium
webdriver-manager
chromedriver-autoinstaller
beautifulsoup4
pymupdf
nltk
scikit-learn
spacy
numpy
pandas
google-cloud-storage
nl_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.8.0/nl_core_news_sm-3.8.0-py3-none-any.whl
